<form [formGroup]="myForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Input Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="text" matInput placeholder="Text">
                        <mat-error *ngIf="myForm.get('text')?.touched && myForm.get('text')?.hasError('required')">
                            Text is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input type="number" formControlName="number" matInput placeholder="Number">
                        <mat-error *ngIf="myForm.get('number')?.touched && myForm.get('number')?.hasError('required')">
                            Number is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 top-padding">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input formControlName="date" matInput [matDatepicker]="picker">
                        <mat-error *ngIf="myForm.get('date')?.touched && myForm.get('date')?.hasError('required')">
                            Date is required
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <input type="hidden" formControlName="hiddenField" value="hello there" />
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
    <mat-slide-toggle class="mt-3">Toggle me!</mat-slide-toggle>
</form>

<div class="form-container" *ngIf="!myForm.valid && generatedJson !== ''">
    <mat-error>You need to fill in all the information.</mat-error>
</div>

<div class="form-container" *ngIf="generatedJson !== '' && showJsonResult">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Generated JSON</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ generatedJson }}</pre>
        </mat-card-content>
    </mat-card>
</div>