<div *ngIf="weatherData">
  <div class="row p-5 bg d-flex justify-content-center">
    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()" class="d-flex justify-content-center">
      <mat-form-field class="rounded-pill">
        <input type="text" formControlName="city" matInput>
        <mat-label>Enter city</mat-label>
        <mat-icon matPrefix fontSet="material-icons-outlined">search</mat-icon>
      </mat-form-field>
    </form>
    <mat-card class="weather-card p-4 col-md-6">
      <mat-card-header class="d-flex align-items-center justify-content-center">
        <mat-card-title>{{ getCurrentDate() }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center align-items-center">
        <div class="row align-items-center justify-content-center">
          <mat-icon fontSet="material-icons-outlined" class="w-auto">wb_sunny</mat-icon>
          <p>{{ temperature }} °C</p>
          <p>{{ city }}</p>
          <div class="col">
            <div class="row">
              <p>Wind</p>
              <p>{{ weatherData.current.wind_speed }} m/s</p>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <p>Feel like</p>
              <p>{{ feelLike }} °C</p>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <p>Humidity</p>
              <p>{{ weatherData.current.humidity }}%</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="!weatherData" class="d-flex justify-content-center align-items-center">
  <mat-spinner></mat-spinner>
</div>